.home-page {
  background-image: url('../../src/airplane.png'); 
  background-size: cover; 
  background-position: center;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  height: 80%; 
  gap: 20px;
}

.block {
  background: white; 
  padding: 20px;
  width: 200px; 
  text-align: center; 
  border: 1px solid #000; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.block:hover {
  background-color: #f0f0f0;
}