.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column; /* 方向改为列 */
  justify-content: flex-start; /* 从顶部开始排列 */
  align-items: flex-start; /* 左对齐 */
  flex: 0 0 200px; /* Sidebar width */
  padding: 20px;
  gap: 10px; /* 按钮之间的间距 */
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.secondary-navbar {
  display: flex;
  background-color: #242F3E;
  padding: 10px;
}

.content {
  border: 1px black solid;
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  /* height: 700px;
  width: 700px; */
}

.secondary-navbar button{
  margin-left: 20px;
  margin-right: 20px; /* 或你希望的任何数值 */
}


