.home-page {
  background-image: url('../../../src/static/airplane.png'); 
  background-size: cover; 
  background-position: center;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  height: 50%; 
  gap: 20px;
}

.block {
  align-items: center;
  background: #f0f0f0; 
  padding: 20px;
  height: 30px;
  width: 300px; 
  text-align: center; 
  border: 3px solid #555; 
  border-radius: 8px;
  cursor: pointer; 
  transition: background-color 0.3s; 
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.block:hover {
  background-color: #4287f5;
}