.navbar-container {
    padding: 10px;
    margin-bottom: 20px; 
    border-radius: 5px; 
    display: flex;
    justify-content: space-around; 
    background: #f2f2f2; 
  }
  
  .navbar-container a {
    text-decoration: none; 
    color: #333; 
    padding: 5px 10px; 
    border-radius: 3px; 
  }
  
  .navbar-container a:hover {
    background: #ddd; 
    color: #000; 
  }

  .navbar-logo {
    position: absolute; 
    top: 2.5px; 
    left: 0px; 
    height: 45px; 
    
  }

  